body{
    background-color: rgb(3, 3, 49);
    
    
}
.con-box{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.box{
    background-color: rgb(9, 9, 12);
    height: 250px;
    width: 210px;
    border: 1px solid rgb(252, 237, 237)  ;
    text-align: center;

}

.box1{
    background-color: blue;
    border-color: blue;
    font-size: 25px;
    height: 245px;
    width: 200px;
    text-align: center;
    color: aliceblue;

}
h2{
    color: aliceblue;
    margin-top: 100px;
}

.sub{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}